{% extends 'index.html' %}


{% block title %} Lista de Cursos {% endblock title %}


{% block body %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titulo</th>
        <th scope="col">Descripción</th>
        <th scope="col">Fecha de Inicio</th>
        <th scope="col">Fecha de Finalizacion</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
        
    {% for curso in cursos  %}
      <tr>
        <th scope="row">{{ curso.id }}</th>
        <td>{{ curso.titulo }}</td>
        <td>{{ curso.descripcion }}</td>
        <td>{{ curso.fecha_inicio }}</td>
        <td>{{ curso.fecha_termino }}</td>
        <td><a class="btn btn-warning" href="{% url 'cursos:editar_curso' curso.id %}">Editar</a>
            <a class="btn btn-danger" href="{% url 'cursos:eliminar_curso' curso.id %}">Eliminar</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock body %}
    
    